ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #4287f5;
  overflow: hidden;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

a {
  display: block;
  padding: 8px;
}

div {
  margin: 20px;
  padding: 20px;
  background-color: #03ecfc;
}
